# Build
node_modules
build
yarn-error.log
npm-debug.log

# Coverage
coverage
coverageEnv
coverage.json

# Workaround for build
openzeppelin-eth

.eslintignore
.zos.session


#zeppelin os network session params
zos.dev-*
